*{
    margin: 0;
    padding: 0;
   text-transform:capitalize ;
}


#hii{
    display: flex;
    align-items: center;
    justify-content: center;
}



.backImg{
    background-color: rgb(59, 6, 54);
    width: 100%;
    height: 100vh;
    background-image: url('anime-kawaii-girl-generative-ai_259696-1902.webp') ;
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-attachment: fixed;
   background-position: center
}

.backImg1{
    background-color: rgb(97, 97, 0);
    width: 100%;
    height: 100vh;
    background-image: url('photo-1578632767115-351597cf2477.webp') ;
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-attachment: fixed;
   background-position: center
}